DB_USER_DEV=postgres
DB_PASSWORD_DEV=12345678@Abc
DB_DATABASE_NAME_DEV=reddit1
DB_HOST_DEV=localhost
SESSION_DB_USERNAME_DEV_PROD=root
SESSION_DB_PASSWORD_DEV_PROD=12345678Abc
SESSION_SECRET_DEV_PROD=lqtuan1999
CORS_ORIGIN_PROD=https://reddit-fe-lqt1102.vercel.app
COOKIE_DOMAIN_PROD=reddit-fe-lqt1102.vercel.app
CORS_ORIGIN_DEV=http://localhost:3000